In [42]:
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy import sparse
import pickle

In [43]:
data = pd.read_pickle('cleaned_data.pkl')

In [44]:
data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny,cleaned_review,normalized_text
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0,wife took birthday breakfast excellent weather...,wife took birthday breakfast excellent weather...
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0,idea people give bad reviews place goes show p...,idea people give bad review place go show plea...
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate.]Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0,love gyro plate rice good also dig candy selec...,love gyro plate rice good also dig candy selec...
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0,rosie dakota love chaparral dog park convenien...,rosie dakota love chaparral dog park convenien...
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0,general manager scott petello good egg go deta...,general manager scott petello good egg go deta...

In [45]:
len(data.business_id.unique())

4174

In [46]:
data = data.loc[:,['business_id','stars','normalized_text']]

In [47]:
data

,business_id,stars,normalized_text
0,9yKzy9PApeiPPOUJEtnvkg,5,wife took birthday breakfast excellent weather...
1,ZRJwVLyzEJq1VAihDhYiow,5,idea people give bad review place go show plea...
2,6oRAC4uyJCsJl1X0WZpVSA,4,love gyro plate rice good also dig candy selec...
3,_1QQZuf4zZOyFCvXc0o6Vg,5,rosie dakota love chaparral dog park convenien...
4,6ozycU1RpktNG2-1BroVtw,5,general manager scott petello good egg go deta...
5,-yxfBYGB6SEqszmxJxd97A,4,quiessence simply put beautiful full window ea...
6,zp713qNhx8d9KCJJnrw1xA,5,drop drive ate go back next day food good cute...
7,hW0Ne_HTHEAgGF1rAdmR-g,4,luckily travel far make connecting flight than...
8,wNUea3IXZWD63bbOQaOH-g,4,definitely come happy hour price amazing sake ...
9,nMHhuYan8e3cONo3PornJA,5,nobuo show unique talent everything menu caref...
10,AsSCv0q_BWqIe3mX2JqsOQ,5,oldish man owns store sweet perhaps sweeter co...
11,e9nN4XxjdHj4qtKCOPq_vg,5,wonderful vietnamese sandwich shoppe baguette ...
12,h53YuCiIDfEFSJCQpk8v1g,5,limited time thing going right bbq chicken piz...
13,WGNIYMeXPyoWav1APUq7jA,4,good tattoo shop clean space multiple artist c...
14,yc5AH9H71xJidA_J2mChLA,4,week new phoenix looked irish bar town found r...
15,Vb9FPCEL6Ly24PNxLBaAFw,2,worth salad small pizza absolutely bad service...
16,supigcPNO9IKo6olaTNV-g,3,went saturday afternoon place incredibly empty...
17,O510Re68mOy9dU490JTKCg,5,okay best place ever grew shopping one los gat...
18,b5cEoKR8iQliq-yT2_O0LQ,3,met friend lunch yesterday loved water feature...
19,4JzzbSbK9wmlOBJZWYfuCg,4,gotten better better time since review written...
20,8FNO4D3eozpIjj0k3q5Zbg,3,dvap go least life really neat place alot hist...
21,tdcjXyFLMKAsvRhURNOkCg,5,place even reviewed kind place want keep
22,eFA9dqXT5EA_TrMgbo03QQ,5,first time friend went delicious food garlic k...
23,IJ0o6b8bJFAbG6MjGfBebQ,1,go check car wan na buy wrong move even want c...
24,JhupPnWfNlMJivnWB5druA,5,love place coming age favorite elsa chicken sa...
25,wzP2yNpV5p04nh0injjymA,4,place great nice little ole fashion homemade i...
26,qjmCVYkwP-HDa35jwYucbQ,5,love love love place bos healthy eating recomm...
27,wct7rZKyZqZftzmAU-vhWQ,4,review mean much given depth reviewer chime no...
28,vz2zQQSjy-NnnKLZzjjoxA,4,came breakfast yesterday year since stopped re...
29,i213sY5rhkfCO8cD-FPr1A,4,always reliably good great beer selection well...
...,...,...,...
9970,R6aazv8FB-6BeanY3ag8kw,5,place super cute lunch joint sloppy joe specia...
9971,JOZqBKIOB8WEBAWm7v1JFA,5,staff great food great even cappuccino great f...
9972,OllL0G9Kh_k1lx-2vrFDXQ,4,yay even though miss living coronado glad back...
9973,XHr5mXFgobOHoxbPJxmYdg,5,wow went sunday around busy packed roomy comfo...
9974,cdacUBBL2tDbDnB1EfhpQw,2,cowboy ciao best restaurant scottsdale cafe ca...
9975,EWMwV5V9BxNs_U6nNVMeqw,5,lived phoenix regular fez friend probably aver...
9976,iDYzGVIF1TDWdjHNgNjCVw,3,looking chile rellenos place great job making ...
9977,iDYzGVIF1TDWdjHNgNjCVw,5,wait long try neighborhood hot spot father gre...
9978,9Y3aQAVITkEJYe5vLZr13w,5,place fabulos breakfast friend visit texas wai...
9979,GV1P1x9eRb4iZHCxj5_IjA,5,highly recommend second time see way bistec en...
9980,GHYOl_cnERMOhkCK_mGAlA,5,star great happy hour special short rib taco f...
9981,AX8lx9wHNYT45lyd7pxaYw,5,brought entire family giuseppe last night pre ...
9982,KV-yJLmlODfUG1Mkds6kYw,4,best corned beef sandwich anywhere anytime def...
9983,24V8QQWO6VaVggHdxjQQ_A,3,star decided check place wave space decor nice...
9984,wepFVY82q_tuDzG6lQjHWw,1,went last night whore food get basic make pizz...
9985,EMGkbiCMfMTflQux-_JY7Q,4,awesome food little pricey delicious loved pow...
9986,oCA2OZcd_Jo_ggVmUx3WVw,4,came december look forward next trip get tuna ...
9987,r-a-Cn9hxdEnYTtVTB5bMQ,1,food delicious service discriminatory bartende...
9988,xY1sPHTA2RGVFlh5tZhs9g,4,first time great time server knowledgable menu...
9989,mQUC-ATrFuMQSaDQb93Pug,5,great food service country food best
9990,R8VwdLyvsp9iybNqRvm94g,5,yes rock hipster joint dig place little bit sc...
9991,WJ5mq4EiWYAA4Vif0xDfdg,5,star note folk rated place low must isolated i...
9992,f96lWMIAUhYIYy9gOktivQ,5,normally one jump reviewing chain restaurant e...
9993,maB4VHseFUY2TmPtAQnB9Q,4,judging review maybe went good day enjoyed tri...
9994,L3BSpFvxcNf3T_teitgt6A,5,let see like surprise stadium well tall can pb...
9995,VY_tvNUCCXGXQeSvJl757Q,3,first visit lunch today used groupon ordered b...
9996,EKzMHI1tip8rC1-ZAy64yg,4,called house deliciousness could go item item ...
9997,53YGfwmbW73JhFiemNeyzQ,4,recently visited olive ivy business last week ...
9998,9SKdOoDHcFoxK5ZtsgHJoA,2,nephew moved scottsdale recently bunch friend ...
9999,pF7uRzygyZsltbmVpjIyvw,5,location star average think arizona really fan...

In [48]:
df = data.groupby('business_id').agg({'normalized_text':(' ').join,'stars':'mean'}).reset_index()

In [49]:
df.head()

,business_id,normalized_text,stars
0,-0QBrNvhrPQCaeo7mTo0zQ,best shrimp burro hood make cringe thought goi...,4.000000
1,-0bUDim5OGuv8R0Qqq6J4A,place busy kid love pancake much food price,3.000000
2,-1N0Z3uM8xbxKS8XiAnaog,office space layout presentation get star cust...,1.000000
3,-34jE_5dujSWMIOBudQsiQ,dr dairiki terrific professional listens expla...,5.000000
4,-3WVw1TNQbPBzaKCaQQ1AQ,lunch today hearing colossal raf however walke...,3.333333

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4174 entries, 0 to 4173
Data columns (total 3 columns):
business_id        4174 non-null object
normalized_text    4174 non-null object
stars              4174 non-null float64
dtypes: float64(1), object(2)
memory usage: 98.0+ KB

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
#df['normalized_text'] = metadata['normalized_text']
tfidf_matrix = tfidf.fit_transform(df['normalized_text'])

In [52]:
tfidf_matrix.shape

(4174, 25019)

In [53]:
type(tfidf_matrix)

scipy.sparse.csr.csr_matrix

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4174 entries, 0 to 4173
Data columns (total 3 columns):
business_id        4174 non-null object
normalized_text    4174 non-null object
stars              4174 non-null float64
dtypes: float64(1), object(2)
memory usage: 98.0+ KB

In [55]:
user_query = 'pizza'
user_vector = tfidf.transform([user_query])

In [56]:
user_vector.shape

(1, 25019)

In [57]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim2 = linear_kernel(tfidf_matrix,user_vector)

In [58]:
len(cosine_sim2)

4174

In [59]:
similar = pd.DataFrame(cosine_sim2)
similar['business_id'] = df['business_id']
similar['stars'] = df['stars']
similar.head()

     0             business_id     stars
0  0.0  -0QBrNvhrPQCaeo7mTo0zQ  4.000000
1  0.0  -0bUDim5OGuv8R0Qqq6J4A  3.000000
2  0.0  -1N0Z3uM8xbxKS8XiAnaog  1.000000
3  0.0  -34jE_5dujSWMIOBudQsiQ  5.000000
4  0.0  -3WVw1TNQbPBzaKCaQQ1AQ  3.333333

In [60]:
similar.sort_values([0,'stars'],ascending=False).head(10)

             0             business_id  stars
585   0.783444  7t9VbwL5orIV0-DzrjU7_A    5.0
3822  0.659204  uYQo0oDXI5NEoMJNWXnx8Q    4.0
1846  0.655004  R2FuwuSjmyvzNWNfqzKUvw    4.5
3649  0.642877  s1IkTuTdWmPunObMizXxSg    5.0
152   0.633934  13lNc7KSuVHBrUybTR23qw    4.0
1359  0.632492  Jje3kP5CNasYDSpH0NPRGQ    4.0
3595  0.629722  r4AG1WXCRWkZKQctrcy9FA    3.8
458   0.617428  5weJ3DRKwvQ9claomkYq9w    3.0
1569  0.617115  Mh85-BDqDHlngT8G2ZnRWg    3.0
1566  0.615604  MfCS8VeJzf9QbxNImekuMA    2.0

In [61]:
similar = similar.sort_values([0],ascending=False).head(10)
similar = similar.sort_values(['stars'],ascending=False)
similar

             0             business_id  stars
585   0.783444  7t9VbwL5orIV0-DzrjU7_A    5.0
3649  0.642877  s1IkTuTdWmPunObMizXxSg    5.0
1846  0.655004  R2FuwuSjmyvzNWNfqzKUvw    4.5
3822  0.659204  uYQo0oDXI5NEoMJNWXnx8Q    4.0
152   0.633934  13lNc7KSuVHBrUybTR23qw    4.0
1359  0.632492  Jje3kP5CNasYDSpH0NPRGQ    4.0
3595  0.629722  r4AG1WXCRWkZKQctrcy9FA    3.8
458   0.617428  5weJ3DRKwvQ9claomkYq9w    3.0
1569  0.617115  Mh85-BDqDHlngT8G2ZnRWg    3.0
1566  0.615604  MfCS8VeJzf9QbxNImekuMA    2.0

## Testing Resturant Recommendations by viewing the review text

In [65]:
df['normalized_text'][585]

'best pizza place ever'

In [66]:
df['normalized_text'][3649]

'pizza venice hand best pizza valley mind got best bang buck xl three topping pizza deal get garlic crust buying pizza nirvana hurt owner incredibly friendly would even consider ordering terrible chain pizza get great pizza great price locally owned business'

In [67]:
def get_recommendations(user_query,tfidf_matrix):
    user_vector = tfidf.transform([user_query])
    cosine_sim2 = linear_kernel(your_matrix_back,user_vector)
    
    ## create a dataframe
    similar = pd.DataFrame(cosine_sim2)
    similar['business_id'] = df['business_id']
    similar['stars'] = df['stars']
    similar['Review'] = df['normalized_text']
    
    ## First sorting based on similarity score and then based on average rating
    similar = similar.sort_values([0],ascending=False).head(10)
    similar = similar.sort_values(['stars'],ascending=False)
    return similar.head(5)

In [68]:
get_recommendations('pizza',tfidf_matrix)

,0,business_id,stars,Review
585,0.783444,7t9VbwL5orIV0-DzrjU7_A,5.0,best pizza place ever
3649,0.642877,s1IkTuTdWmPunObMizXxSg,5.0,pizza venice hand best pizza valley mind got b...
1846,0.655004,R2FuwuSjmyvzNWNfqzKUvw,4.5,delicious food without long wait staff friendl...
3822,0.659204,uYQo0oDXI5NEoMJNWXnx8Q,4.0,always good pizza close home serve beer wine p...
152,0.633934,13lNc7KSuVHBrUybTR23qw,4.0,excellent selection unusual delicious pizza fa...

In [69]:
#sparse.save_npz("yourmatrix.npz", tfidf_matrix)
your_matrix_back = sparse.load_npz("yourmatrix.npz")

In [70]:
#pickle.dump(tfidf, open("tfidf.pickle", "wb"))
t = pickle.load(open("tfidf.pickle", "rb"))

/Users/rakesh.nimma/anaconda3/envs/NLP-Basics/lib/python3.7/site-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator TfidfTransformer from version 0.20.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)
/Users/rakesh.nimma/anaconda3/envs/NLP-Basics/lib/python3.7/site-packages/sklearn/base.py:306: UserWarning: Trying to unpickle estimator TfidfVectorizer from version 0.20.1 when using version 0.21.3. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [71]:
#df.to_pickle('d.pkl')
d = pd.read_pickle('d.pkl')

In [72]:
def get_recommendations(user_query,your_matrix_back):
    user_vector = t.transform([user_query])
    cosine_sim2 = linear_kernel(your_matrix_back,user_vector)
    
    ## create a dataframe
    similar = pd.DataFrame(cosine_sim2)
    similar['business_id'] = d['business_id']
    similar['stars'] = d['stars']
    similar['Reviews'] = d['normalized_text']
    
    ## First sorting based on similarity score and then based on average rating
    similar = similar.sort_values([0],ascending=False).head(5)
    similar = similar.sort_values(['stars'],ascending=False)
    #d={}
    similar.drop(columns=[0],inplace=True)
    return similar.T.to_dict().values()

## Final Output

In [73]:
list(get_recommendations('pizza',your_matrix_back))

[{'business_id': '7t9VbwL5orIV0-DzrjU7_A',
  'stars': 5.0,
  'Reviews': 'best pizza place ever'},
 {'business_id': 's1IkTuTdWmPunObMizXxSg',
  'stars': 5.0,
  'Reviews': 'pizza venice hand best pizza valley mind got best bang buck xl three topping pizza deal get garlic crust buying pizza nirvana hurt owner incredibly friendly would even consider ordering terrible chain pizza get great pizza great price locally owned business'},
 {'business_id': 'R2FuwuSjmyvzNWNfqzKUvw',
  'stars': 4.5,
  'Reviews': 'delicious food without long wait staff friendly accommodating look forward going back got craving pizza want feel guilty eating always seems satiate fix pizza ultra thin many variety available bryan always get pizza would still hungry order one without appetizer always take extra home today ate pepperoni mushroom pizza potato feta cheese pizza olive tempanade yummy way ate tomato mozzarella pesto bruschetta appetizer came unbelievably quick waiting pizza sauce pizza unique right crave want something lighter regular hand tossed pizza yet want spend much gourmet pizza comfortable yet yummy compromise'},
 {'business_id': 'uYQo0oDXI5NEoMJNWXnx8Q',
  'stars': 4.0,
  'Reviews': 'always good pizza close home serve beer wine plus kid play video game husband watch game really like place pizza hut domino pizza excellent well priced pizza gross like pizza place chain taste authentic freshly made order pizza order also get wing usually ask extra sauce put much great take anywhere minute delivery u'},
 {'business_id': '13lNc7KSuVHBrUybTR23qw',
  'stars': 4.0,
  'Reviews': 'excellent selection unusual delicious pizza favorite far include prosciutto pizza lamb pizza'}]

## Refrence

https://www.datacamp.com/community/tutorials/recommender-systems-python?utm_source=adwords_ppc&utm_campaignid=1565261270&utm_adgroupid=67750485268&utm_device=m&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=1t1&utm_creative=295208661514&utm_targetid=dsa-473406569915&utm_loc_interest_ms=&utm_loc_physical_ms=9027290&gclid=Cj0KCQjwrrXtBRCKARIsAMbU6bENj2prGXE8WoQgLs7g7V-TDbmQTbH3I61sU2-XRWLJEQEiPLkCYf0aAl4QEALw_wcB